<!DOCTYPE html>
<head>
  <title>Fun Facs</title>
  <link href='main.hmtl' rel='stylesheet'>
  <link href='index.css' rel='stylesheet'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum scale=1.0, user scalable=no'>
</head>
  <body>


          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-tabs nav-justified">
            <li><a href="main.html">Home</a></li>
          </ul>
        </div>
    </nav>

    <div class="container-fluid">
    <center>  <img src="/images/lights.jpg" alt="image of lights" class="image"> </center>
    <br>
  <center>  <h2> Fun Facts </h2>
      <p> Spotify app was created by Daniel Ek and Martin Lorentzon and was first released in 2006</p>
      <p> Spotify has its headquarters in Stockholm, Sweden</p>
      <p>Spotify launched in Indonesia in Mark 2016, and in Japan in September.</p>
      <p>Spotify currently has over 180 million active listeners! </p>
      <p>Users can know the exact songs people are listening to around the world, and what songs they share the most using the  <strong><a href="https://insights.spotify.com/us/2016/12/07/musical-map-of-the-world-2-0/">Musical Tap of the World 2.0.</a></strong> month with us! </p>
  </center>  </div>


    <script src="../js/client.js"> </script>
</body>
</html>
