<!DOCTYPE html>
<html>
  <head>
    <title>Music in me</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
  </head>
</button>
      <a href="index.html" class="navbar-brand" style="color:rgb(255,191,0);text-decoration: strong;"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-tabs nav-justified">
        <li><a class= "active" href="index.html">Home</a></li>
        <li><a href="index.html">Fun facts</a></li>
    <body>
      <header>
        <h1>What should I listen to?</h1>
        <h2>Check out these new releases by country</h2>
      </header>

      <main>
        <p>Choose a country</p>
        <form>
          <div class="input-group col-md-6">
            <select class="form-control">
              <option value="SE">Sweden</option>
              <option value="US">United States</option>
              <option value="CA">Canada</option>
              <option value="GB">United Kingdom</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="JP">Japan</option>
              <option value="FI">Finland</option>
              <option value="IS">Iceland</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-info" type="submit">Submit</button>
            </span>
          </div>
        </form>
        <section class="dreams">
          <ul id="new-releases" class="sp-container">
          </ul>
        </section>
      </main>

      <!-- Your web-app is https, so your scripts need to be too -->
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"
              integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
              crossorigin="anonymous"></script>
      <script src="..static\js\client.js"></script>


  </body>
</html>
